
<img src="{{this.imgPath}}" alt="{{this.imgName}}"/>
<h3>{{this.title}}</h3>
<p>{{this.description}}</p>

<a href="/edit/{{this.id}}">Edit</a>

<form action="/delete/{{_id}}" method="POST">
<button>Delete</button>
</form>

