{{!-- {{#if foundUser}} --}}

<h1>{{this.username}}'s Memories Chest</h1>
<a href="/create-memory">Create a Memory</a>

{{#each this.memories}}
<img src="{{imgPath}}" alt="{{imgName}}"/>
<a href="/detail/{{id}}"><h3>{{title}}</h3></a>
{{!-- <p>{{description}}</p> --}}

<a href="/detail/{{id}}">See</a>

<a href="/edit/{{_id}}">Edit</a>

<form action="/delete/{{id}}" method="POST">
<button>Delete</button>
</form>

{{/each}}

{{!-- {{/if}} --}}

{{!-- {{#unless userInSession}}
To create Memories please register or login.
{{/unless}} --}}